<!-- Describe task in general -->
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}flight.jpg" alt="example" style="max-height: 300px"/>
</p>
<p><i>"Нам потрібно полетіти додому якомога дешевше, щоб більше грошей залишалося на подарунки.Тітка Лідія попросила різні види сирів, а Василько хотів нову іграшкову машинку. Я дуже довго дивлюся на графік, і починаю думати, що деякі літаки літають даремно".</i></p>

<p>В якості вхідних даних, ти отримуєш графік польотів як {% if is_js %}масив{% else %}список{% endif %}, кожен елемент якого є вартістю прямого польоту між 2 містами ({% if is_js %}масив{% else %}список{% endif %} з 3 елементів - 2 назви міста як рядки та ціна рейсу як ціле число).</p>

<p>Літаки літають в обох напрямках, і ціна в обох напрямках однакова. Існує ймовірність, що між містами немає прямих рейсів.</p>

<p>Знайди ціну найдешевшого польоту між містами, які подаються як 2-й та 3-й вхідні аргументи. У випадку неможливості перельоту поверни 0.</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> 3 аргументи: розклад польотів як {% if is_js %}масив з масивів{% else %}список зі списків{% endif %}, місто відправлення і місто прибуття як рядки.
 </p>

<p>
    <strong>Вихідні дані:</strong> Найкраща ціна як ціле число.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Сфера застосування:</strong>
    <i>в повсякденному життя для знаходження оптимального поєднання.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумови:</strong>
    <ul>
        <li><i>ціна завжди ціле число;</i></li>
        <li><i>графік польотів містить принаймі один елемент;</i></li>
        <li><i>обидва міста точно є в графіку.</i></li>
    </ul>
</p>

