<!-- Describe task in general -->
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}flight.jpg" alt="example" style="max-height: 300px"/>
</p>
<p><i>«Нам нужно долететь домой как можно дешевле, чтобы больше денег осталось на подарки. Тётя Лида просила сыров разных, а Вася хотел машинку новую. Я уже довольно долго смотрю на расписание, и мне начинает казаться, что некоторые самолёты летают зря.»</i></p>

<p>На входе вы получаете расписание самолётов в виде {% if is_js %}массива{% else %}списка{% endif %}, каждый элемент которого — это цена прямого воздушного соединения двух городов ({% if is_js %}массив{% else %}список{% endif %} из 3 элементов: первые два — названия городов в виде строк, и третий — цена перелёта).</p>

<p>Самолёты летают в обе стороны и цена в обе стороны одинаковая. Есть вероятность, что соединения между городами может и не быть.</p>

<p>Найдите цену самого дешёвого перелёта для городов, которые переданы 2-м и 3-м аргументами. Если перелет невозможен, верните 0</p>

<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong> 3 аргумента: расписание перелётов в виде {% if is_js %}массива массивов{% else %}списка списков{% endif %}, город вылета, город назначения как строки.
</p>

<p>
    <strong>Выходные данные:</strong> Лучшая цена как целое число.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development. -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Как это используется:</strong>
    <i>может быть использовано в повседневной жизни для нахождения оптимальной комбинации.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Предусловия:</strong>
    <ul>
        <li><i>цена всегда целое число;</i></li>
        <li><i>в расписании рейсов есть хотя бы один элемент;</i></li>
        <li><i>оба искомых города есть в расписании.</i></li>
    </ul>
</p>

